<%- partial("_partials/_header") %>

<div class="container-fluid about">
  <ul class="row">
    <li class="col-md-4">
      Photo Here
    </li>
    <li class="col-md-8">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-cube"></i></span> Our Mission</h3>
        </div>
        <div class="panel-body">
          <p>Here</p>
        </div>
      </div>
    </li>
  </ul>
  <ul class="row">
    <li class="col-md-4">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-cube"></i></span> Our Story</h3>
        </div>
        <div class="panel-body">
          <p>Here</p>
        </div>
      </div>
    </li>
    <li class="col-md-4">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-cube"></i></span> Who We Are</h3>
        </div>
        <div class="panel-body">
          <p>Here</p>
        </div>
      </div>
    </li>
    <li class="col-md-4">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-cube"></i></span> What We Do</h3>
        </div>
        <div class="panel-body">
          <p>Here</p>
        </div>
      </div>
    </li>
  </ul>
</div>
