<%- partial("_partials/_header") %>

<div class="container-fluid about-content">
  <ul class="row mission">
    <li class="col-md-4" style="background: #f5f5f5">
      <div class="inner">
      </div>
    </li>
    <li class="col-md-8">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title">Our Mission</h3>
        </div>
        <div class="panel-body">
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore.</p>
        </div>
      </div>
    </li>
  </ul>
  <ul class="row">
    <li class="col-md-4">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title">Our Story</h3>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore.</p>
        </div>
      </div>
    </li>
    <li class="col-md-4">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title">Who We Are</h3>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore.</p>
        </div>
      </div>
    </li>
    <li class="col-md-4">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title">What We Do</h3>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore.</p>
        </div>
      </div>
    </li>
  </ul>
</div>
