<%- partial("_partials/_header") %>

<div class="container-fluid contact-content">
  <ul class="row">
    <li class="col-md-6 col-lg-5 text-center">
      <div class="panel-heading">
        <div class="panel-title">
           Contact Info
        </div>
      </div>
      <ul class="row no-gutter">
        <div class="col-xs-7">
          <address class="inner">
            <strong><i class="fa fa-building"></i> Brand Name</strong>
            <p>1427 Lincoln Blvd, Suite E<br>Santa Monica, CA 90404</p>
            <p>EIN ###############</p>
            <p><abbr title="Email"><i class="fa fa-envelope"></i></abbr> email@domain.org</p>
            <p><abbr title="Phone"><i class="fa fa-phone"></i></abbr> (123) 456-7890</p>
            <p><abbr title="Fax"><i class="fa fa-fax"></i></abbr> (123) 456-7890</p>
          </address>
        </div>
        <div class="col-xs-5">
          <p><abbr title="Twitter Handle"><i class="fa fa-twitter"></i></abbr> @brandname</p>
          <p><abbr title="Instagram"><i class="fa fa-instagram"></i></abbr> @brandname</p>
          <p><abbr title="Youtube"><i class="fa fa-youtube"></i></abbr> @brandname</p>
        </div>
      </ul>
      <ul class="row no-gutter">
        <li class="col-md-7">
          <div class="panel-heading">
            <div class="panel-title">
              Press Contact
            </div>
          </div>
          <address>
            <strong><i class="fa fa-microphone"></i> Person Name</strong>
            <p><abbr title="Email"><i class="fa fa-envelope"></i></abbr> email@domain.org</p>
            <p><abbr title="Phone"><i class="fa fa-phone"></i></abbr> (123) 456-7890</p>
          </address>
        </li>
        <div class="col-md-5">
          <div class="panel-heading">
            <div class="panel-title">
              Press Kit
            </div>
          </div>
          <a href="resources.html">View More Resources</a>
        </div>
      </ul>
    </li>
    <li class="col-md-6 col-lg-6">
      <div class="inner">
        <div class="panel-heading">
          <div class="panel-title">Send a Message</div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Name</label>
                <div class="input-group"><span class="input-group-addon"><i class="fa fa-fw fa-user"></i></span><input type="text" id="name" placeholder="Name" required="" class="form-control"></div>
              </div>
              <div class="form-group">
                <label>Email</label>
                <div class="input-group"><span class="input-group-addon"><i class="fa fa-fw fa-envelope"></i></span><input type="email" id="email" placeholder="Email address" required="" class="form-control"></div>
              </div>
              <div class="form-group">
                <label>Subject</label>
                <select class="form-control">
                  <option value="option">General Inquiry</option>
                  <option value="option">Press/Media Inquiry</option>
                  <option value="option">Donation Inquiry</option>
                  <option value="option">Etc</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group"><label>Message</label><textarea name="message" id="message" rows="9" placeholder="Message" class="form-control"></textarea></div>
            </div>
            <div class="col-md-12 text-right"><button type="submit" class="btn btn-primary">Send <i class="fa fa-paper-plane"></i></button></div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
