<%- partial("_partials/_header") %>

<%- partial("_partials/_featured-videos") %>

<div class="action-bar">
  <div class="container-fluid">
    <ul class="row">

      <li class="col-sm-6 col-md-4">
        <div class="inner">
          <div class="panel-heading">
            <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-bullhorn"></i></span> Stay Informed</h3>
          </div>
          <div class="panel-body text-center">
            <p>Get the latest through email or social media.</p>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-envelope"></i>
              </span>
            <input type="email" value="" placeholder="E-mail address" name="EMAIL" class="required email form-control" id="mce-EMAIL">
              <span class="input-group-btn">
                <input data-original-title="Subscribe to our mailing list" data-toggle="tooltip" type="submit" class="button btn btn-primary" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
              </span>
            </div>
            <br>
            <span class="center-block social-links text-center">
              <a data-original-title="Follow" data-toggle="tooltip" class="twitter"><i class="fa fa-fw fa-lg fa-twitter"></i></a>
              <a data-original-title="Like" data-toggle="tooltip" class="facebook"><i class="fa fa-fw fa-lg fa-facebook"></i></a>
              <a data-original-title="Follow" data-toggle="tooltip" class="instagram"><i class="fa fa-fw fa-lg fa-instagram"></i></a>
              <a data-original-title="Subscribe" data-toggle="tooltip" class="youtube"><i class="fa fa-fw fa-lg fa-youtube-play"></i></a>
            </span>
          </div>
        </div>
      </li>

      <li class="col-md-4">
        <div class="inner">
          <div class="panel-heading">
            <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-group"></i></span> Get Involved</h3>
          </div>
          <div class="panel-body">
            <p>Together, take action in fighting / promoting ... by posting a status, photo, or video on social media with the hashtag <strong>#hashtag</strong>.</p>
          </div>
        </div>
      </li>

      <li class="col-sm-6 col-md-4 donate">
        <div class="inner">
          <div class="panel-heading">
            <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-heart"></i></span> Make a Donation</h3>
          </div>
          <div class="panel-body">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lg fa-dollar"></i></span>
              <input type="text" class="form-control" placeholder="40.00">
            </div>
            <br>
            <div class="btn-toolbar text-center">
              <a href="donation.html" type="button" class="btn btn-primary"><i class="fa fa-lg fa-credit-card"></i></a>
              <button type="button" class="btn btn-primary"> <small>PayPal</small></button>
              <p><a href="#">Give by check</a></p>
            </div>
          </div>
        </div>
      </li>

    </ul><!-- end row -->
  </div><!-- end container -->
</div><!-- end action-bar -->
