<%- partial("_partials/_header") %>

<div class="container-fluid media-content">
  <ul class="row">
    <li class="col-md-8 col-md-push-4 media-story">
      <div class="inner">
        <strong class="type"><i class="fa fa-fw fa-file-text"></i> Press Release</strong>
        <h3>Our Monthly Status Update Press Release</h3>
        <span class="date"><i class="fa fa-fw fa-clock-o"></i> September 1, 2014</span>

        <hr>

        <!-- Post Content -->
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p>
      </div>
    </li>
    <li class="col-md-4 col-md-pull-8 list">
      <div class="xinner">
        <div class="panel-heading">
          <h3 class="panel-title">Latest Updates</h3>
        </div>
          <div class="feed-list">
            <ul class="nav nav-pills">
              <li class="active"><a href="#">All</a></li>
              <li><a href="#">In the News</a></li>
              <li><a href="#">Press Releases</a></li>
            </ul>
            <a href="#" class="list-group-item">
              <p class="list-group-meta">
                <span class="date"><i class="fa fa-fw fa-clock-o"></i>Sept 1, 2014</span>
                <span class="type">Press Release <i class="fa fa-fw fa-file-text"></i></span>
              </p>
              <h4 class="list-group-item-heading">Our Monthly Status Update Press Release</h4>
              <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra lectus ut rhoncus suscipit.</p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-meta">
                <span class="date"><i class="fa fa-fw fa-clock-o"></i>Sept 1, 2014</span>
                <span class="type">Blog Post <i class="fa fa-fw fa-bookmark"></i></span>
              </p>
              <h4 class="list-group-item-heading">Another News Headline</h4>
              <p class="list-group-item-text">Lorenm ipum dolor sit amet, consectetur adipiscing elit. Proin pharetra lectus ut rhoncus suscipit.</p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-meta">
                <span class="date"><i class="fa fa-fw fa-clock-o"></i>Sept 1, 2014</span>
                <span class="type">In the News <i class="fa fa-fw fa-quote-right"></i></span>
              </p>
              <h4 class="list-group-item-heading">Another News Headline</h4>
              <p class="list-group-item-text"><strong>News Source Name</strong></p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-meta">
                <span class="date"><i class="fa fa-fw fa-clock-o"></i> Sept 1, 2014</span>
                <span class="type">Press Release <i class="fa fa-fw fa-file-text"></i></span>
              </p>
              <h4 class="list-group-item-heading">Another News Headline</h4>
              <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra lectus ut rhoncus suscipit.</p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-meta">
                <span class="date"><i class="fa fa-fw fa-clock-o"></i> Sept 1, 2014</span>
                <span class="type">In the News <i class="fa fa-fw fa-quote-right"></i></span>
              </p>
              <h4 class="list-group-item-heading">Another News Headline</h4>
              <p class="list-group-item-text"><strong>News Source Name</strong></p>
            </a>
          </div>
        <ul class="view-more clearfix">
          <li>
            <a href="#" class="btn btn-lg btn-default"><i class="fa fa-fw fa-lg fa-angle-left"></i></a>
          </li>
          <li>
            <a href="#" class="btn btn-lg btn-default"><i class="fa fa-fw fa-lg fa-angle-right"></i></a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
