<%- partial("_partials/_header") %>

<div class="container-fluid latest-content">
  <ul class="row">
    <li class="col-md-8 col-md-push-4 news list">
      <div class="panel-heading">
        <h3 class="panel-title">In the News</h3>
      </div>
      <div id="Partners" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="item active">
            <ul class="row no-gutter feed-list text-center">
              <li class="col-xs-6 col-md-6 col-lg-3">
                <a href="#" class="list-group-item">
                  <p class="list-group-meta">
                    <span class="date">Sept 1, 2014</span>
                  </p>
                  <h4 class="list-group-item-heading">An Article Featured in the News Media About Our Campaign That We Decided We Want to Link to</h4>
                  <p class="list-group-item-text"><strong>News Source Name</strong></p>
                </a>
              </li>
              <li class="col-xs-6 col-md-6 col-lg-3">
                <a href="#" class="list-group-item">
                  <p class="list-group-meta">
                    <span class="date">Sept 1, 2014</span>
                  </p>
                  <h4 class="list-group-item-heading">An Article Featured in the News Media About Our Campaign That We Decided We Want to Link to</h4>
                  <p class="list-group-item-text"><strong>News Source Name</strong></p>
                </a>
              </li>
              <li class="col-xs-6 col-md-6 col-lg-3">
                <a href="#" class="list-group-item">
                  <p class="list-group-meta">
                    <span class="date">Sept 1, 2014</span>
                  </p>
                  <h4 class="list-group-item-heading">An Article Featured in the News Media About Our Campaign That We Decided We Want to Link to</h4>
                  <p class="list-group-item-text"><strong>News Source Name</strong></p>
                </a>
              </li>
              <li class="col-xs-6 col-md-6 col-lg-3">
                <a href="#" class="list-group-item">
                  <p class="list-group-meta">
                    <span class="date">Sept 1, 2014</span>
                  </p>
                  <h4 class="list-group-item-heading">An Article Featured in the News Media About Our Campaign That We Decided We Want to Link to</h4>
                  <p class="list-group-item-text"><strong>News Source Name</strong></p>
                </a>
              </li>
            </ul><!--.row-->
          </div><!--.item-->

          <div class="item">
            <ul class="row no-gutter feed-list text-center">
              <li class="col-xs-6 col-md-6 col-lg-3">
                <a href="#" class="list-group-item">
                  <p class="list-group-meta">
                    <span class="date">Sept 1, 2014</span>
                  </p>
                  <h4 class="list-group-item-heading">An Article Featured in the News Media About Our Campaign That We Decided We Want to Link to</h4>
                  <p class="list-group-item-text"><strong>News Source Name</strong></p>
                </a>
              </li>
              <li class="col-xs-6 col-md-6 col-lg-3">
                <a href="#" class="list-group-item">
                  <p class="list-group-meta">
                    <span class="date">Sept 1, 2014</span>
                  </p>
                  <h4 class="list-group-item-heading">An Article Featured in the News Media About Our Campaign That We Decided We Want to Link to</h4>
                  <p class="list-group-item-text"><strong>News Source Name</strong></p>
                </a>
              </li>
              <li class="col-xs-6 col-md-6 col-lg-3">
                <a href="#" class="list-group-item">
                  <p class="list-group-meta">
                    <span class="date">Sept 1, 2014</span>
                  </p>
                  <h4 class="list-group-item-heading">An Article Featured in the News Media About Our Campaign That We Decided We Want to Link to</h4>
                  <p class="list-group-item-text"><strong>News Source Name</strong></p>
                </a>
              </li>
              <li class="col-xs-6 col-md-6 col-lg-3">
                <a href="#" class="list-group-item">
                  <p class="list-group-meta">
                    <span class="date">Sept 1, 2014</span>
                  </p>
                  <h4 class="list-group-item-heading">An Article Featured in the News Media About Our Campaign That We Decided We Want to Link to</h4>
                  <p class="list-group-item-text"><strong>News Source Name</strong></p>
                </a>
              </li>
            </ul><!--.row-->
          </div><!--.item-->

        </div><!--.carousel-inner-->
      </div><!--.Carousel-->
      <ul class="view-more clearfix">
        <li>
          <a data-slide="prev" href="#Partners" class="btn btn-lg btn-default"><i class="fa fa-fw fa-lg fa-angle-left"></i></a>
        </li>
        <li>
          <a data-slide="next" href="#Partners" class="btn btn-lg btn-default"><i class="fa fa-fw fa-lg fa-angle-right"></i></a>
        </li>
      </ul>
    </li>
    <li class="col-md-4 col-md-pull-8 list">
      <div class="xinner">
        <div class="panel-heading">
          <h3 class="panel-title">Latest Updates</h3>
        </div>
          <div class="feed-list">
            <ul class="nav nav-pills">
              <li class="active"><a href="#">All</a></li>
              <li><a href="#">In the News</a></li>
              <li><a href="#">Press Releases</a></li>
            </ul>
            <a href="#" class="list-group-item">
              <p class="list-group-meta">
                <span class="date"><i class="fa fa-fw fa-clock-o"></i>Sept 1, 2014</span>
                <span class="type">Press Release <i class="fa fa-fw fa-file-text"></i></span>
              </p>
              <h4 class="list-group-item-heading">Our Monthly Status Update Press Release</h4>
              <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra lectus ut rhoncus suscipit.</p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-meta">
                <span class="date"><i class="fa fa-fw fa-clock-o"></i>Sept 1, 2014</span>
                <span class="type">Blog Post <i class="fa fa-fw fa-bookmark"></i></span>
              </p>
              <h4 class="list-group-item-heading">Another News Headline</h4>
              <p class="list-group-item-text">Lorenm ipum dolor sit amet, consectetur adipiscing elit. Proin pharetra lectus ut rhoncus suscipit.</p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-meta">
                <span class="date"><i class="fa fa-fw fa-clock-o"></i>Sept 1, 2014</span>
                <span class="type">In the News <i class="fa fa-fw fa-quote-right"></i></span>
              </p>
              <h4 class="list-group-item-heading">Another News Headline</h4>
              <p class="list-group-item-text"><strong>News Source Name</strong></p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-meta">
                <span class="date"><i class="fa fa-fw fa-clock-o"></i> Sept 1, 2014</span>
                <span class="type">Press Release <i class="fa fa-fw fa-file-text"></i></span>
              </p>
              <h4 class="list-group-item-heading">Another News Headline</h4>
              <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra lectus ut rhoncus suscipit.</p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-meta">
                <span class="date"><i class="fa fa-fw fa-clock-o"></i> Sept 1, 2014</span>
                <span class="type">In the News <i class="fa fa-fw fa-quote-right"></i></span>
              </p>
              <h4 class="list-group-item-heading">Another News Headline</h4>
              <p class="list-group-item-text"><strong>News Source Name</strong></p>
            </a>
          </div>
        <ul class="view-more clearfix">
          <li>
            <a href="#" class="btn btn-lg btn-default"><i class="fa fa-fw fa-lg fa-angle-left"></i></a>
          </li>
          <li>
            <a href="#" class="btn btn-lg btn-default"><i class="fa fa-fw fa-lg fa-angle-right"></i></a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
