<%- partial("_partials/_header") %>

<div class="container-fluid media-content">
  <ul class="row">
    <li class="col-md-8 col-md-push-4">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Latest News Headline</h3>
        </div>
        <div class="panel-body">
          <p>Here</p>
        </div>
      </div>
    </li>
    <li class="col-md-4 col-md-pull-8">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-rss"></i></span> The Latest</h3>
        </div>
        <div class="panel-body">
          <div class="feed-list">
            <a href="#" class="list-group-item">
              <p class="list-group-meta">
                <strong class="type"><i class="fa fa-fw fa-file-text"></i> Press Release</strong>
                <span class="date"><i class="fa fa-fw fa-clock-o"></i> 10.01.14</span>
              </p>
              <h4 class="list-group-item-heading">Latest News Headline</h4>
              <p class="list-group-item-text">Loren getsum dolor sit amet, consectetur adipiscing elit. Proin pharetra lectus ut rhoncus suscipit.</p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-meta">
                <strong class="type"><i class="fa fa-fw fa-bookmark"></i> Blog Post</strong>
                <span class="date"><i class="fa fa-fw fa-clock-o"></i> 10.01.14</span>
              </p>
              <h4 class="list-group-item-heading">Another News Headline</h4>
              <p class="list-group-item-text">Loren getsum dolor sit amet, consectetur adipiscing elit. Proin pharetra lectus ut rhoncus suscipit.</p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-meta">
                <strong class="type"><i class="fa fa-fw fa-quote-left"></i> In the News</strong>
                <span class="date"><i class="fa fa-fw fa-clock-o"></i> 10.01.14</span>
              </p>
              <h4 class="list-group-item-heading">Another News Headline</h4>
              <p class="list-group-item-text">Loren getsum dolor sit amet, consectetur adipiscing elit. Proin pharetra lectus ut rhoncus suscipit.</p>
            </a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
