<%- partial("_partials/_header") %>

<div class="container-fluid partners-content">
  <ul class="row">
    <li class="col-md-4 list">
      <div class="panel-heading">
        <h3 class="panel-title">Partners</h3>
      </div>
      <div class="inner">
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore.</p>
        </div>
        <ul class="view-more">
          <li>
            <a data-slide="prev" href="#Partners" class="btn btn-lg btn-default"><i class="fa fa-fw fa-lg fa-angle-left"></i></a>
          </li>
          <li>
            <a data-slide="next" href="#Partners" class="btn btn-lg btn-default"><i class="fa fa-fw fa-lg fa-angle-right"></i></a>
          </li>
        </ul>
      </div>
    </li>
    <li class="col-md-8">
      <div id="Partners" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="item active">
            <ul class="row">
              <li class="col-xs-6 col-md-3">
                <div class="panel-footer">
                  <h3 class="panel-title">Partner Name</h3>
                </div>
              </li>
              <li class="col-xs-6 col-md-3">
                <div class="panel-footer">
                  <h3 class="panel-title">This Richard Dawkins Foundation for Reason and Science</h3>
                </div>
              </li>
              <li class="col-xs-6 col-md-3">
                <div class="panel-footer">
                  <h3 class="panel-title">Partner Name</h3>
                </div>
              </li>
              <li class="col-xs-6 col-md-3">
                <div class="panel-footer">
                  <h3 class="panel-title">Americans United for the Seperation of Church and State</h3>
                </div>
              </li>
            </ul><!--.row-->
          </div><!--.item-->

          <div class="item">
            <ul class="row">
              <li class="col-xs-6 col-md-3">
                <div class="panel-footer">
                  <h3 class="panel-title">Partner Name</h3>
                </div>
              </li>
              <li class="col-xs-6 col-md-3">
                <div class="panel-footer">
                  <h3 class="panel-title">Partner Name</h3>
                </div>
              </li>
              <li class="col-xs-6 col-md-3">
                <div class="panel-footer">
                  <h3 class="panel-title">Partner Name</h3>
                </div>
              </li>
              <li class="col-xs-6 col-md-3">
                <div class="panel-footer">
                  <h3 class="panel-title">Partner Name</h3>
                </div>
              </li>
            </ul><!--.row-->
          </div><!--.item-->

        </div><!--.carousel-inner-->
      </div><!--.Carousel-->
    </li>
  </ul>
  <ul class="row">
    <li class="col-md-4 list">
      <div class="panel-heading">
        <h3 class="panel-title">Allies</h3>
      </div>
      <div class="inner">
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore.</p>
        </div>
        <ul class="view-more">
          <li>
            <a data-slide="prev" href="#Supporters" class="btn btn-lg btn-default"><i class="fa fa-fw fa-lg fa-angle-left"></i></a>
          </li>
          <li>
            <a data-slide="next" href="#Supporters" class="btn btn-lg btn-default"><i class="fa fa-fw fa-lg fa-angle-right"></i></a>
          </li>
        </ul>
      </div>
    </li>
    <li class="col-md-8">
      <div id="Supporters" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="item active">
            <ul class="row">
              <li class="col-xs-6 col-md-3">
                <div class="panel-footer">
                  <h3 class="panel-title">Ally Name</h3>
                </div>
              </li>
              <li class="col-xs-6 col-md-3">
                <div class="panel-footer">
                  <h3 class="panel-title">Ally Name</h3>
                </div>
              </li>
              <li class="col-xs-6 col-md-3">
                <div class="panel-footer">
                  <h3 class="panel-title">Ally Name</h3>
                </div>
              </li>
              <li class="col-xs-6 col-md-3">
                <div class="panel-footer">
                  <h3 class="panel-title">Ally Name</h3>
                </div>
              </li>
            </ul><!--.row-->
          </div><!--.item-->

          <div class="item">
            <ul class="row">
              <li class="col-xs-6 col-md-3">
                <div class="panel-footer">
                  <h3 class="panel-title">Ally Name</h3>
                </div>
              </li>
              <li class="col-xs-6 col-md-3">
                <div class="panel-footer">
                  <h3 class="panel-title">Ally Name</h3>
                </div>
              </li>
              <li class="col-xs-6 col-md-3">
                <div class="panel-footer">
                  <h3 class="panel-title">Ally Name</h3>
                </div>
              </li>
              <li class="col-xs-6 col-md-3">
                <div class="panel-footer">
                  <h3 class="panel-title">Ally Name</h3>
                </div>
              </li>
            </ul><!--.row-->
          </div><!--.item-->


        </div><!--.carousel-inner-->
        </div><!--.Carousel-->
    </li>
  </ul>
</div>
