<%- partial("_partials/_header") %>

<div class="container-fluid partners-content">
  <ul class="row">
    <li class="col-md-4">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Partners</h3>
      </div>
      <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore.</p>
      </div>
      <ul class="view-more clearfix">
        <li>
          <a data-slide="prev" href="#Partners"><i class="fa fa-fw fa-lg fa-angle-left"></i></a>
        </li>
        <li>
          <a data-slide="prev" href="#Partners"><i class="fa fa-fw fa-lg fa-angle-right"></i></a>
        </li>
      </ul>
    </li>
    <li class="col-md-8">
      <div class="inner">
        <div id="Partners" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">

          <div class="item active">
            <ul class="row">
              <li class="col-xs-6 col-md-3">
                <div class="inner">
                  <div class="panel-footer">
                    <h3 class="panel-title text-center">Partner Name</h3>
                  </div>
                </div>
              </li>
              <li class="col-xs-6 col-md-3">
                <div class="inner">
                  <div class="panel-footer">
                    <h3 class="panel-title text-center">Partner Name</h3>
                  </div>
                </div>
              </li>
              <li class="col-xs-6 col-md-3">
                <div class="inner">
                  <div class="panel-footer">
                    <h3 class="panel-title text-center">Partner Name</h3>
                  </div>
                </div>
              </li>
              <li class="col-xs-6 col-md-3">
                <div class="inner">
                  <div class="panel-footer">
                    <h3 class="panel-title text-center">Partner Name</h3>
                  </div>
                </div>
              </li>

            </ul><!--.row-->
          </div><!--.item-->

          <div class="item">
            <ul class="row">
              <li class="col-xs-6 col-md-3">
                <div class="inner">
                  <div class="panel-footer">
                    <h3 class="panel-title text-center">Partner Name</h3>
                  </div>
                </div>
              </li>
              <li class="col-xs-6 col-md-3">
                <div class="inner">
                  <div class="panel-footer">
                    <h3 class="panel-title text-center">Partner Name</h3>
                  </div>
                </div>
              </li>
              <li class="col-xs-6 col-md-3">
                <div class="inner">
                  <div class="panel-footer">
                    <h3 class="panel-title text-center">Partner Name</h3>
                  </div>
                </div>
              </li>
              <li class="col-xs-6 col-md-3">
                <div class="inner">
                  <div class="panel-footer">
                    <h3 class="panel-title text-center">Partner Name</h3>
                  </div>
                </div>
              </li>

            </ul><!--.row-->
          </div><!--.item-->

          </div><!--.carousel-inner-->
          </div><!--.Carousel-->
      </div>
    </li>
  </ul>
  <ul class="row">
    <li class="col-md-4">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Supporters</h3>
      </div>
      <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore.</p>
      </div>
      <ul class="view-more clearfix">
        <li>
          <a data-slide="prev" href="#Supporters"><i class="fa fa-fw fa-lg fa-angle-left"></i></a>
        </li>
        <li>
          <a data-slide="prev" href="#Supporters"><i class="fa fa-fw fa-lg fa-angle-right"></i></a>
        </li>
      </ul>
    </li>
    <li class="col-md-8">
      <div class="inner">
        <div id="Supporters" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">

          <div class="item active">
            <ul class="row">
              <li class="col-xs-6 col-md-3">
                <div class="inner">
                  <div class="panel-footer">
                    <h3 class="panel-title text-center">Supporter Name</h3>
                  </div>
                </div>
              </li>
              <li class="col-xs-6 col-md-3">
                <div class="inner">
                  <div class="panel-footer">
                    <h3 class="panel-title text-center">Supporter Name</h3>
                  </div>
                </div>
              </li>
              <li class="col-xs-6 col-md-3">
                <div class="inner">
                  <div class="panel-footer">
                    <h3 class="panel-title text-center">Supporter Name</h3>
                  </div>
                </div>
              </li>
              <li class="col-xs-6 col-md-3">
                <div class="inner">
                  <div class="panel-footer">
                    <h3 class="panel-title text-center">Supporter Name</h3>
                  </div>
                </div>
              </li>

            </ul><!--.row-->
          </div><!--.item-->

          <div class="item">
            <ul class="row">
              <li class="col-xs-6 col-md-3">
                <div class="inner">
                  <div class="panel-footer">
                    <h3 class="panel-title text-center">Supporter Name</h3>
                  </div>
                </div>
              </li>
              <li class="col-xs-6 col-md-3">
                <div class="inner">
                  <div class="panel-footer">
                    <h3 class="panel-title text-center">Supporter Name</h3>
                  </div>
                </div>
              </li>
              <li class="col-xs-6 col-md-3">
                <div class="inner">
                  <div class="panel-footer">
                    <h3 class="panel-title text-center">Supporter Name</h3>
                  </div>
                </div>
              </li>
              <li class="col-xs-6 col-md-3">
                <div class="inner">
                  <div class="panel-footer">
                    <h3 class="panel-title text-center">Supporter Name</h3>
                  </div>
                </div>
              </li>

            </ul><!--.row-->
          </div><!--.item-->

          </div><!--.carousel-inner-->
          </div><!--.Carousel-->
      </div>
    </li>
  </ul>
</div>
