<%- partial("_partials/_header") %>

<div class="container-fluid resources-content">
  <ul class="row">
    <li class="col-md-3 list">
      <div class="xinner">
        <div class="panel-heading">
          <h3 class="panel-title">Downloads</h3>
        </div>
        <div class="feed-list">
          <ul class="nav nav-pills">
            <li class="active"><a href="#">All</a></li>
          </ul>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Something to Download</h4>
            <p class="list-group-meta">
              <span class="type"><i class="fa fa-fw fa-file-pdf-o"></i> something-to-download-filename.pdf</span>
            </p>
            <p class="list-group-item-text">Loren ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra lectus ut rhoncus suscipit.</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Something to Download</h4>
            <p class="list-group-meta">
              <span class="type"><i class="fa fa-fw fa-file-image-o"></i> something-to-download-filename.png</span>
            </p>
            <p class="list-group-item-text">Loren ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra lectus ut rhoncus suscipit.</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Something to Download</h4>
            <p class="list-group-meta">
              <span class="type"><i class="fa fa-fw fa-file-archive-o"></i> something-to-download-filename.zip</span>
            </p>
            <p class="list-group-item-text">Loren ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra lectus ut rhoncus suscipit.</p>
          </a>
        </div>
        <ul class="view-more clearfix">
          <li>
            <a href="#" class="btn btn-lg btn-default"><i class="fa fa-fw fa-lg fa-angle-left"></i></a>
          </li>
          <li>
            <a href="#" class="btn btn-lg btn-default"><i class="fa fa-fw fa-lg fa-angle-right"></i></a>
          </li>
        </ul>
    </li>
    <li class="col-md-6">
      <div class="inner">
        <br>
        <p class="text-center lead">Space for Something<p>
        <br>
      </div>
    </li>
    <li class="col-md-3 list">
      <div class="xinner">
        <div class="panel-heading">
          <h3 class="panel-title">Other Resources</h3>
        </div>
        <div class="feed-list">
          <ul class="nav nav-pills">
            <li class="active"><a href="#">All</a></li>
          </ul>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Off-Site Link</h4>
            <p class="list-group-meta">
              <span class="type"><i class="fa fa-fw fa-link"></i> http://link-to-something.com</span>
            </p>
            <p class="list-group-item-text">Loren ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra lectus ut rhoncus suscipit.</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Off-Site Link</h4>
            <p class="list-group-meta">
              <span class="type"><i class="fa fa-fw fa-link"></i> http://link-to-something.com</span>
            </p>
            <p class="list-group-item-text">Loren ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra lectus ut rhoncus suscipit.</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Off-Site Link</h4>
            <p class="list-group-meta">
              <span class="type"><i class="fa fa-fw fa-link"></i> http://link-to-something.com</span>
            </p>
            <p class="list-group-item-text">Loren ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra lectus ut rhoncus suscipit.</p>
          </a>
        </div>
        <ul class="view-more clearfix">
          <li>
            <a href="#" class="btn btn-lg btn-default"><i class="fa fa-fw fa-lg fa-angle-left"></i></a>
          </li>
          <li>
            <a href="#" class="btn btn-lg btn-default"><i class="fa fa-fw fa-lg fa-angle-right"></i></a>
          </li>
        </ul>
    </li>
  </ul>
</div>
