<%- partial("_partials/_header") %>

<div class="container-fluid submission-content">
  <ul class="row">
    <li class="col-md-4">
      <div class="panel-heading">
        <div class="panel-title">
           Guidelines
        </div>
      </div>
      <div class="inner">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pretium suscipit laoreet. Mauris gravida mattis enim finibus interdum. Sed porttitor feugiat tristique. Maecenas aliquam mi vehicula, pretium sapien ac, pretium lacus. Vestibulum euismod sapien at dignissim porta. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla et metus ut arcu sodales ornare.</p>
      </div>
    </li>
    <li class="col-md-8">
      <div class="inner">
        <div class="panel-heading">
          <div class="panel-title">Submit a Video</div>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label>Name</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-user"></i></span>
              <input type="text" id="name" placeholder="Name" required="" class="form-control"></div>
          </div>
          <div class="form-group">
            <label>Email</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-envelope"></i></span>
              <input type="email" id="email" placeholder="Email address" required="" class="form-control"></div>
          </div>
          <div class="form-group">
            <label>YouTube Video Url</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-youtube-play"></i></span>
              <input type="text" id="url" placeholder="YouTube Video Url" required="" class="form-control"></div>
          </div>
          <div class="checkbox well">
            <label>
              <input type="checkbox"> I am at least 18 and agree to <a href="#">Terms of Service</a>.
            </label>
          </div>
          <div class="text-right">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
