<div class="container-fluid featured-videos">
  <ul class="row">
    <li class="col-sm-6 col-md-2">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-youtube-play"></i></span>Video</h3>
        </div>
      </div>
    </li>
    <li class="col-sm-6 col-md-2">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-youtube-play"></i></span>Video</h3>
        </div>
      </div>
    </li>
    <li class="col-sm-6 col-md-2">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-youtube-play"></i></span>Video</h3>
        </div>
      </div>
    </li>
    <li class="col-sm-6 col-md-2">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-youtube-play"></i></span>Video</h3>
        </div>
      </div>
    </li>
    <li class="col-sm-6 col-md-2">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-youtube-play"></i></span>Video</h3>
        </div>
      </div>
    </li>
    <li class="col-sm-6 col-md-2">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-youtube-play"></i></span>Video</h3>
        </div>
      </div>
    </li>
  </ul>

  <ul class="row">
    <li class="col-sm-6 col-md-1">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-youtube-play"></i></span>Video</h3>
        </div>
      </div>
    </li>
    <li class="col-sm-6 col-md-1">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-youtube-play"></i></span>Video</h3>
        </div>
      </div>
    </li>
    <li class="col-sm-6 col-md-1">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-youtube-play"></i></span>Video</h3>
        </div>
      </div>
    </li>
    <li class="col-sm-6 col-md-1">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-youtube-play"></i></span>Video</h3>
        </div>
      </div>
    </li>
    <li class="col-sm-6 col-md-4">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-youtube-play"></i></span>Video</h3>
        </div>
      </div>
    </li>
    <li class="col-sm-6 col-md-1">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-youtube-play"></i></span>Video</h3>
        </div>
      </div>
    </li>
    <li class="col-sm-6 col-md-1">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-youtube-play"></i></span>Video</h3>
        </div>
      </div>
    </li>
    <li class="col-sm-6 col-md-1">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-youtube-play"></i></span>Video</h3>
        </div>
      </div>
    </li>
    <li class="col-sm-6 col-md-1">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-youtube-play"></i></span>Video</h3>
        </div>
      </div>
    </li>
  </ul>
</div>
