<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<div class="container-fluid featured-videos hidden-xs hidden-sm">
  <ul class="row">
    <li class="col-sm-6 col-md-2">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-youtube-play"></i></span></h3>
        </div>
      </div>
    </li>
    <li class="col-sm-6 col-md-2">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-youtube-play"></i></span></h3>
        </div>
      </div>
    </li>
    <li class="col-sm-6 col-md-4">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-youtube-play"></i></span></h3>
        </div>
      </div>
    </li>
    <li class="col-sm-6 col-md-2">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-youtube-play"></i></span></h3>
        </div>
      </div>
    </li>
    <li class="col-sm-6 col-md-2">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-youtube-play"></i></span></h3>
        </div>
      </div>
    </li>
  </ul>
  <ul class="row">
    <li class="col-sm-6 col-md-2">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-youtube-play"></i></span></h3>
        </div>
      </div>
    </li>
    <li class="col-sm-6 col-md-2">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-youtube-play"></i></span></h3>
        </div>
      </div>
    </li>
    <li class="col-sm-6 col-md-4">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title text-center"></h3>
        </div>
      </div>
    </li>
    <li class="col-sm-6 col-md-2">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-youtube-play"></i></span></h3>
        </div>
      </div>
    </li>
    <li class="col-sm-6 col-md-2">
      <div class="inner">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-youtube-play"></i></span></h3>
        </div>
      </div>
    </li>
  </ul>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"><i class="fa fa-fw fa-chevron-left"></i></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"><i class="fa fa-fw fa-chevron-right"></i></span>
  </a>
</div>
</div>
