<div class="stream">
  <nav class="navbar navbar-stream navbar-static-top" role="navigation">
    <span class="edit"><a class="btn btn-sm btn-warning"><i class="fa fa-fw fa-pencil"></i><span> Edit</span></a></span>
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-stream">
          <span class="sr-only">Filter</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="stream-hashtag">#hashtag</div>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav" id="navbar-stream">
          <li class="active"><a href="#">All</a></li>
          <li><a href="#">Filter</a></li>
        </ul>
        <ul class="nav navbar-nav" id="navbar-stream-edit">
          <li class="active"><a href="#">Drafts</a></li>
          <li><a href="#">Approved</a></li>
          <li><a href="#">Filter</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>


  <div class="container-fluid stream-content">
    <ul class="row">
      <li class="col-sm-6 col-md-3">
        <div class="inner">
          <div class="panel-heading">
            <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-youtube-play"></i></span> Youtube Video</h3>
          </div>
          <div class="panel-body">
            <p>Here</p>
          </div>
        </div>
      </li>
      <li class="col-sm-6 col-md-3">
        <div class="inner">
          <div class="panel-heading">
            <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-twitter"></i></span> Tweet</h3>
          </div>
          <div class="panel-body">
            <p>Here</p>
          </div>
        </div>
      </li>
      <li class="col-sm-6 col-md-3">
        <div class="inner">
          <div class="panel-heading">
            <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-instagram"></i></span> Photo</h3>
          </div>
          <div class="panel-body">
            <p>Here</p>
          </div>
        </div>
      </li>
      <li class="col-sm-6 col-md-3">
        <div class="inner">
          <div class="panel-heading">
            <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-youtube-play"></i></span> Youtube Video</h3>
          </div>
          <div class="panel-body">
            <p>Here</p>
          </div>
        </div>
      </li>
      <li class="col-sm-6 col-md-3">
        <div class="inner">
          <div class="panel-heading">
            <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-youtube-play"></i></span> Youtube Video</h3>
          </div>
          <div class="panel-body">
            <p>Here</p>
          </div>
        </div>
      </li>
      <li class="col-sm-6 col-md-3">
        <div class="inner">
          <div class="panel-heading">
            <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-twitter"></i></span> Tweet</h3>
          </div>
          <div class="panel-body">
            <p>Here</p>
          </div>
        </div>
      </li>
      <li class="col-sm-6 col-md-3">
        <div class="inner">
          <div class="panel-heading">
            <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-instagram"></i></span> Photo</h3>
          </div>
          <div class="panel-body">
            <p>Here</p>
          </div>
        </div>
      </li>
      <li class="col-sm-6 col-md-3">
        <div class="inner">
          <div class="panel-heading">
            <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-youtube-play"></i></span> Youtube Video</h3>
          </div>
          <div class="panel-body">
            <p>Here</p>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>
