<div class="stream">

  <ul class="nav stream-nav">
    <li><h4>#hashtag</h4></li>
    <li><a href="#">Filter</a></li>
    <li><a href="#">Filter</a></li>
    <li><a href="#">Filter</a></li>
  </ul>

  <div class="container-fluid stream-content">
    <ul class="row">
      <li class="col-sm-6 col-md-3">
        <div class="inner">
          <div class="panel-heading">
            <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-youtube-play"></i></span> Youtube Video</h3>
          </div>
          <div class="panel-body">
            <p>Here</p>
          </div>
        </div>
      </li>
      <li class="col-sm-6 col-md-3">
        <div class="inner">
          <div class="panel-heading">
            <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-twitter"></i></span> Tweet</h3>
          </div>
          <div class="panel-body">
            <p>Here</p>
          </div>
        </div>
      </li>
      <li class="col-sm-6 col-md-3">
        <div class="inner">
          <div class="panel-heading">
            <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-instagram"></i></span> Photo</h3>
          </div>
          <div class="panel-body">
            <p>Here</p>
          </div>
        </div>
      </li>
      <li class="col-sm-6 col-md-3">
        <div class="inner">
          <div class="panel-heading">
            <h3 class="panel-title text-center"><span><i class="fa fa-fw fa-youtube-play"></i></span> Youtube Video</h3>
          </div>
          <div class="panel-body">
            <p>Here</p>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>
