//$border-radius-base: 0;
//$border-radius-large: 0;
//$border-radius-small: 0;

@import 'bootstrap';

$brand-secondary: lighten($brand-primary, 15%);
$border: 1px solid rgba(0,0,0,0.1);

/***************************
****************************

TEMP FIXES:

****************************
***************************/

.glyphicon-chevron-left:before, .glyphicon-chevron-right:before {
  display: none;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
  margin-top: 4px;
}

.affix {
  position: fixed;
  top: 0px;
  width: 100%;
}


// Weird fix
.input-group-btn {
	.btn {
		height: 34px;
	}
}

.highlight {
  background: #fff;
  line-height: 24px;
  padding: 2px 4px;
}



/***************************
****************************

GLOBAL STYLES:

****************************
***************************/

body {
  color: $gray;
}


ul.row {
  list-style: none;
  padding: 0;
  margin-bottom: 0;

  &+ul.row {
    border-top: 1px solid rgba(0,0,0,0.2);
  }

  > li[class*='col-'] {
    padding: 0;

    &:last-child {
      border-right: none;
    }

    .inner {
      margin: 0 auto;
      padding: 20px;

      @media (min-width: $screen-lg) {
        //padding: 20px;
      }
      @media (min-width: 800px) {
        //max-width: 100%;
      }
      @media (min-width: 1200px) {
        max-width: 90%;
      }
      @media (min-width: 1500px) {
        max-width: 80%;
      }

    }

    @media (min-width: $screen-xs) {
      &.col-xs-6 {
        border-right: $border;
      }
    }

    @media (min-width: $screen-sm) and (max-width: $screen-md) {
      &.col-sm-6 +.col-sm-6 {
        border-left: $border;
      }
      &.col-sm-6 + .col-sm-12 {
        border-top: $border;
      }
    }

    @media (min-width: $screen-md) {
      border-right: $border;

      &:first-child {
        &[class*='col-md-push-'] {
          border-right: none;
        }
      }

      &:last-child {
        &[class*='col-md-pull-'] {
          border-right: $border;
        }
      }
    }
  }
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}


a {
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}

.btn-default {
  color: $gray-light;
  background: transparent;
  border: 1px solid transparent;
}

.form-control {
  background: transparent;
  border: none;
  border-radius: 0 !important;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  box-shadow: none;
  &:focus {
    background: rgba(245,245,245,0.5);
    border-color: $brand-primary;
    box-shadow: none;
  }
}

textarea.form-control {
  border-radius: 4px;
  border: 2px solid rgba(0,0,0,0.2);
}

.input-group-addon {
  color: $brand-primary;
  background: transparent;
  border: none;
  border-radius: 0;
}


.panel-heading {
  border-radius: 0;
}

.panel-title {
  font-size: 18px;
  color: #333;
  //font-weight: 700;
  text-align: center;
  //color: $brand-primary;

  span:first-of-type {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    margin-right: 15px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
  }
}

.list {
  background: #f5f5f5;
  .panel-heading {
    background: #fff;
    border-bottom: $border
  }
  @media (max-width: $screen-md) {
    border-bottom: 1px solid rgba(0,0,0,0.2)
  }
}

p.lead {
  color: $brand-secondary;
}

/***************************
****************************

HEADER STYLES:

****************************
***************************/


.navbar-custom {
  padding: 20px 0;
  text-align: center;
  background-color: $brand-primary;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  a {
    color: #fff;
    //margin-bottom: -1px;
  }

  li {

   a {
		color: rgba(255,255,255,0.6);
    border-bottom: 3px solid transparent;

  		&:hover, &.active {
        color: #fff;
  			background: none;
  		}
    }

    &.active {
      a {
        color: #fff;
        //border-color: #fff;
      }
    }
  }

  .navbar-toggle > .icon-bar {
		background-color: #fff;
	}
}

.login {
  position: absolute;
  top: -150px;
  width: 100%;
  text-align: center;
  background: #f5f5f5;
  border-bottom: $border;
  -webkit-transition: all 0.6s ease-in-out;
     -moz-transition: all 0.6s ease-in-out;
       -o-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;

  .alert {
    //margin-top: -1px;
    margin-bottom: 0;
    //background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAWSjEh8SSD7OUwAzAFJggTgHJAAAEkuAx5OdRJCAAAAAElFTkSuQmCC) repeat;
  }

  .form-control {
    background: #f5f5f5;
  }

  .input-group-addon {
    background: #f5f5f5;
    border-color: #f5f5f5;
  }

  .btn-login {
    margin-left: 10px;
  }

  .close {
    position: absolute;
    bottom: 22px;
    right: 10px;
  }
}

.nav > li.settings > a {
  display: none;
  color: rgba(0,0,0,0.6)
}

.open {
  top: 90px;
  z-index: 3;
}


/***************************
****************************

FEATURED VIDEOS MOCK STYLES:

****************************
***************************/


.featured-videos {
  background: #333;

  ul {
    border: none !important;

    &:first-of-type {
      li {
        border-bottom: $border;
      }
      li:nth-child(3) {
        border-bottom: none;
        h3 {
          position: absolute;
          top: 115px;
          left: 48%;
          text-align: center;
        }
      }
    }
  }

  .panel-title {
    span {
      color: rgba(0,0,0,0.3);
      border: none;
    }
  }

  .inner {
    min-height: 200px;
  }

  h3 {
    padding-top: 50px;
  }
}

/***************************
****************************

HOMEPAGE STYLES:

****************************
***************************/

.action-bar {

  .panel-title {

    span:first-of-type {
      color: #fff;
      background-color: $brand-primary;
      border-color: $brand-primary;
    }
  }

  .inner {
    min-height: 300px;
  }

  .panel-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
    background: none;
    border: none;
  }
  .involved {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAWSjEh8SSD7OUwAzAFJggTgHJAAAEkuAx5OdRJCAAAAAElFTkSuQmCC) repeat;
  }
}

.social-links > a {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 30px;
  text-align: center;
  margin-right: 15px;
  color: rgba(0,0,0,0.2);
  background: #f5f5f5 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAWSjEh8SSD7OUwAzAFJggTgHJAAAEkuAx5OdRJCAAAAAElFTkSuQmCC) repeat;
  border-radius: 50%;
  border: 2px solid transparent;
}

.about-content {
  // .mission {
  //   background: $brand-secondary;
  //
  //   p.lead {
  //     color: #fff;
  //   }
  // }

  .inner {
    min-height: 250px;
  }
}

.donate {

  .btn-default {
    width: 90%;
    margin-bottom: 10%;
    background: transparent;
    border: 2px solid rgba(0,0,0,0.1);
    &:hover {
      color: #fff;
      background: $brand-primary;
    }
  }
}

/***************************
****************************

LATEST NEWS STYLES:

****************************
***************************/
.type, .date {
  color: rgba(0,0,0,0.4);
}

.feed-list {
  padding: 0 5px;
  .list-group-meta{
    display: block;
    width: 100%;
    margin-bottom: 5px;
    .date + .type {
      float: right;
    }
  }

  .list-group-item-heading {
    font-size: 16px;
  }

  .list-group-item {
    background-color: transparent;
    border: none;
    border-radius: 0;
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.05);

    &:hover {
      background-color: rgba(255,255,255,0.9);
      border-color: transparent;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    }

    &.active {
      background-color: $brand-primary;
    }
  }
}

.nav-pills {
  margin-bottom: 10px;
  border-bottom: $border;
  li {

   a {
    color: rgba(0,0,0,0.4);
    font-size: 12px;
    font-weight: 700;
    margin-bottom: -2px;
    background: none;
    border-radius: 0;
    border-bottom: 3px solid transparent;

      &:hover, &.active {
        color: rgba(0,0,0,0.8);
        background: none;
        //border-color: rgba(0,0,0,0.6);
      }
    }

    &.active {
      a {
        color: rgba(0,0,0,0.8);
        background: none;
        border-bottom: 3px solid $brand-primary;

        &:hover, &.active {
          color: rgba(0,0,0,0.8);
          background: none;
        }
      }
    }
  }
}

.view-more {
  text-align: center;
  padding: 10px 0;

  li {
    display: inline-block;
    width: 30%;

    &:first-child {
      float: left;
      //border-right: $border;
    }
    &:last-child {
      float: right;
      //border-left: $border;
    }

    a {
      //display: block;
      //width: 100%;
      //height: 100%;
      //padding: 18px 0;
      //color: $brand-primary;
      //background: rgba(255,255,255,0.6);

      &:hover {
        color: #fff;
        background: $brand-primary;
        border-color: rgba(0,0,0,0.1);
      }

      .fa-lg {
        vertical-align: 0;
      }
    }
  }

}


.latest-content {

  .news {

    .panel-heading {
      border-bottom: $border;
    }

    .list-group-item {
      min-height: 167px;
      padding: 40px 0;
    }

    .feed-list li:last-child {
      border-right: none;
    }
  }
}

.media-content {

  .news {
    .panel-heading {
      border-bottom: $border;
    }

    .list-group-item {
      min-height: 181px;
      padding: 40px 0;
    }

    .feed-list li:nth-child(even) {
      border-right: none;
    }
  }
}


.latest-social-media {
  .inner {
    display: table;
    height: 200px;
    overflow: hidden;
    .panel-title {
      display: table-cell;
      vertical-align: middle;
    }
  }
}
/***************************
****************************

PARTNERS STYLES:

****************************
***************************/


.partners-content {

  ul {

    li[class*='col-'] {
      min-height: 250px;
      padding: 0;
    }
  }

  .view-more {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    @media (max-width: $screen-md) {
      margin-bottom: 10px;
    }
  }

  .panel-footer {
    position: absolute;
    bottom: 0;
    display: table;
    width: 100%;
    height: 75px;
    overflow: hidden;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAWSjEh8SSD7OUwAzAFJggTgHJAAAEkuAx5OdRJCAAAAAElFTkSuQmCC) repeat;
    border-radius: 0;
    border-top: $border;

    .panel-title {
      display: table-cell;
      vertical-align: middle;
      font-size: 14px;
    }
  }
}

.resources-content {
  .inner {
    min-height: 455px;
  }
}

.submission-content {
  .inner {
    min-height: 400px;
  }
}


/***************************
****************************

CONTACT STYLES:

****************************
***************************/


.contact-content {

  ul {
    list-style: none;
    margin-bottom: 0;

    &:first-of-type {

      li:nth-child(2) {
        .inner {
          max-width: 900px;
        }
      }

    }

    li[class*='col-'] {
      padding: 10px 0;
      min-height: 250px;
      border-right: $border;

        .inner {
          max-width: 420px;
          margin: 0 auto;
        }

      &:last-child {
        border: none;
      }
    }
  }
}



//
// !! -- The Stream -- !!
//

.stream {
  z-index: 3;
  text-align: center;
  padding-bottom: 50px;
  background: #ccc url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAWSjEh8SSD7OUwAzAFJggTgHJAAAEkuAx5OdRJCAAAAAElFTkSuQmCC) repeat;
  -webkit-transition: all 0.6s ease-in-out;
     -moz-transition: all 0.6s ease-in-out;
       -o-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;
}


.stream-nav-edit {
  display: none;
}

.navbar-stream {
  text-align: center;
  background-color: #f5f5f5;
  margin-bottom: 0;
  border-top: 2px solid $brand-primary;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  transition: all .4s ease;

  li {
    margin-bottom: -2px;
   a {
    color: rgba(0,0,0,0.6);
    font-weight: 700;
    border-bottom: 3px solid transparent;

      &:hover, &.active {
        color: $brand-primary;
        background: none;
      }
    }

    &.active {
      a {
        color: $brand-primary;
        border-color: $brand-primary;
      }
    }
  }

  .navbar-toggle > .icon-bar {
    background-color: rgba(0,0,0,0.6);
  }
}

.stream-hashtag {
  color: rgba(0,0,0,0.8);
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
  font-weight: 700;
}

.row-flex {
  width: 100%;
  overflow: hidden;
  list-style: none;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  .col-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    float: left;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0,0,0,0.2);
    -webkit-transition: all 0.6s ease-in-out;
       -moz-transition: all 0.6s ease-in-out;
         -o-transition: all 0.6s ease-in-out;
            transition: all 0.6s ease-in-out;

    &:last-child {
      border-right: none;
    }

    @media (max-width: $screen-md) {
      width: 50%; /* 2 items per row */

      &.expand {
        width: 100%;
        background: #ccc;

        &:nth-child(2n) {
          margin-left: -50%;
          z-index: 3;
        }
      }
    }

    @media (min-width: $screen-md) {
      width: 25%; /* 4 items per row */

      &.expand {
        width: 50%;
        background: #ccc;

        &:nth-child(4n) {
          margin-left: -25%;
          z-index: 3;
        }
      }
    }
  }

  .inner-flex {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 250px;

    h3 {
      padding: 100px;
    }
  }
}

.donation-content {

  .inner {
    padding: 0;
    min-height: none;
  }
  .panel-footer {
    //background: #fff;
    border-top: $border;
  }
}

/* Facebook */
a.facebook i,.facebook h4.list-group-item-heading { color:#3b5998; }
a.facebook:hover { background:#3b5998; border-color:#3b5998; }
a.facebook:hover * { color:#FFF; }
/* Google */
a.google-plus i,.google-plus h4.list-group-item-heading { color:#dd4b39; }
a.google-plus:hover { background:#dd4b39; border-color:#dd4b39; }
a.google-plus:hover * { color:#FFF; }
/* Twitter */
a.twitter i,.twitter h4.list-group-item-heading { color:#00acee; }
a.twitter:hover { background:#00acee; border-color:#00acee; }
a.twitter:hover * { color:#FFF; }
/* Instagram */
a.instagram i,.instagram h4.list-group-item-heading { color:#3f729b; }
a.instagram:hover { background:#3f729b; border-color:#3f729b; }
a.instagram:hover * { color:#FFF; }
/* Linkedin */
a.linkedin i,.linkedin h4.list-group-item-heading { color:#0e76a8; }
a.linkedin:hover { background:#0e76a8; border-color:#0e76a8; }
a.linkedin:hover * { color:#FFF; }
/* Tumblr */
a.tumblr i,.tumblr h4.list-group-item-heading { color:#34526f; }
a.tumblr:hover { background:#34526f; border-color:#34526f; }
a.tumblr:hover * { color:#FFF; }
/* Youtube */
a.youtube i,.youtube h4.list-group-item-heading { color:#c4302b; }
a.youtube:hover { background:#c4302b; border-color:#c4302b; }
a.youtube:hover * { color:#FFF; }



/*Form Wizard*/
.bs-wizard { padding: 20px 10px; background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAWSjEh8SSD7OUwAzAFJggTgHJAAAEkuAx5OdRJCAAAAAElFTkSuQmCC) repeat; margin-top: -1px; border-top: $border; border-bottom: $border;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: $gray-light; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step.active .bs-wizard-stepnum {color: $brand-primary;}
.bs-wizard > .bs-wizard-step.disabled .bs-wizard-stepnum {visibility: hidden}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: $brand-primary; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: rgba(0,0,0,0.4); border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step.active > .bs-wizard-dot:after { background: #fff; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: $brand-primary;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard .progress {background-color: $gray-light;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: $gray-light;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }

/***************************
****************************

ADMIN STYLES:

****************************
***************************/

.edit, .save {
  //display: none;
  position: absolute;
  top: 0;
  right: 0;
  .btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
	span {
		display: none;
	}
	&:hover {
		span {
			display: inline;
		}
	}
}

.add {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  .btn {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
  }
  span {
    display: none;
  }
  &:hover {
    span {
      display: inline;
    }
  }
}

footer {
  padding: 10px 0;
  color: #aaa;
  background: #333;
  border-top: 1px solid #aaa;
}
